container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "nostra_proj.settings"
    PYTHONPATH: "/opt/python/current/app/nostra_proj:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "nostra_proj/nostra_proj/wsgi.py"